<!-- Message -->
<div class="flex items-start px-6 py-2 text-sm hover-target hover:bg-grey-lightest message" role="listitem">
  <figure class="w-10 h-10 rounded overflow-hidden mr-3">
    <img class="message__user-avatar" src="https://vignette.wikia.nocookie.net/finalfantasy/images/b/b8/DFFOO_Squall.png"
         alt="">
  </figure>

  <div class="flex-1">
    <h5 class="text-sm">
      <a href="#" class="message__user-name text-black font-bold no-underline hover:underline">
        Guest
      </a>
      <span class="sr-only">at</span>
      <time class="message__timestamp text-grey-darker text-xs font-normal">
        May 14, 2019 12:21.38 PM
      </time>
    </h5>

    <p class="message__body text-black leading-normal">
      What is this?
    </p>
  </div>

  <button
    class="message__delete-button border-transparent hover:border-red-light show-on-hover hover:bg-red-lightest border-1 rounded mb-1 pl-3 pr-2 py-1"
    aria-label="delete message">
    🗑
  </button>
</div>

<!-- Message -->
<div class="flex items-start px-6 py-2 text-sm hover-target hover:bg-grey-lightest message" role="listitem">
  <figure class="w-10 h-10 rounded overflow-hidden mr-3">
    <img class="message__user-avatar"
         src="https://coocloud.cdn.prismic.io/coocloud/b242f7d78488ceeb0bf05d4e8e64511935daba4f_coocloud-text.jpeg" alt="">
  </figure>

  <div class="flex-1">
    <h5 class="text-sm">
      <a href="#" class="message__user-name text-black font-bold no-underline hover:underline">
        coocloud
      </a>
      <span class="sr-only">at</span>
      <time class="message__timestamp text-grey-darker text-xs font-normal">
        May 14, 2019 12:23.4 PM
      </time>
    </h5>

    <p class="message__body text-black leading-normal">
      This is a clone of slack.
    </p>
  </div>

  <button
    class="message__delete-button border-transparent hover:border-red-light show-on-hover hover:bg-red-lightest border-1 rounded mb-1 pl-3 pr-2 py-1"
    aria-label="delete message">
    🗑
  </button>
</div>